// ----------- COLORS -----------

$color-primary-softBlue: #f3f2f8;
$color-primary-softBlack: #25292e;
$color-primary-lightGreen: #73bc64;
$color-primary-lightGreen-hover: #67ac5a;
$color-secondary-lightGrey: #7a7a7a;
$color-secondary-whiteHover: #dedede;
$color-secondary-errorRed: #96232b;

:export {
  softBlack: $color-primary-softBlack;
}

// ----------- FONT SIZE -----------

$fontSize-100: 14px;
$fontSize-200: 16px;
$fontSize-300: 22px;
$fontSize-400: 30px;
$fontSize-500: 46px;
$fontSize-600: 60px;

// ----------- BORDER RADIUS -----------

$borderRadius-circle: 2em;
$borderRadius-default: 0.2em;

// ----------- PADDING -----------

$padding-card-default: 4em;

$box-shadow-default: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

// ----------- TRANSITIONS -----------

$transitions-defaultTransition: 0.1s;
