@import "./constants.module";

@mixin defaultHoverTransition {
  &:hover {
    cursor: pointer;
    transition: $transitions-defaultTransition;
  }
  &:not(:hover) {
    transition: $transitions-defaultTransition;
  }
}

@mixin clippedText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
